global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  8000
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s


listen galera_cluster
{% for key,value  in salt ['mine.get']('G@mysql-cluster-id:' + grains['mysql-cluster-id'] + ' and G@role:mysql and G@mysql-is-master:True','grains.items','compound').items() -%}
  bind {{ value['ipv4'][1] }}:3306
{% endfor -%}
  balance source
  option  httpchk
  server controller
{%- for key,value  in salt ['mine.get']('G@mysql-cluster-id:' + grains['mysql-cluster-id'] + ' and G@role:mysql and G@mysql-is-master:False','grains.items','compound').items() -%}
  {{ loop.index }} {{ value['ipv4'][1] }}:3306 check port 9200 inter 2000 rise 2 fall 5
{%- endfor -%}

